
@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card p-3 border-0 shadow-lg">
                <div class="text-center fs-3 mb-3">Welcome,XYZ</div>
               <form method="post" action="/student/changepassword">
                   <h5>Old Password</h5>
                   <input type="password" name="opasswd" class="form-control" required/>
                   <h5>New Password</h5>
                   <input type="password" name="npasswd" class="form-control" required/>
                   <h5>Confirm Password</h5>
                   <input type="password" name="cpasswd" class="form-control" required />
                   <input type="submit" value="Reset Password" class="form-control bg-mycolor2"/>
               </form>
            </div>
        </div>
    </div>
</div>

