
@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}


    <div class="form-container">
        <form>
            <label for="file_upload">Choose File:</label>
            <input type="file" id="file_upload" class="add_file" accept="/" required />
            <label for="message">Message:</label>
            <textarea id="message" class="txt_title" rows="4" placeholder="Enter your message" required></textarea>
            <button type="button" class="btn_class">Upload</button>

        </form>
    </div>




