
@{
    ViewBag.Title = "SoftwareKit";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}

<div class="container">
    <div class="fs-3 my-3 text-center">Software <b class="text-mycolor2">Kit</b></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card p-2 border-0 shadow-lg">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/images/learning055.jpg" class="img-fluid w-100" style="max-height:150px"/>
                    </div>
                    <div class="col-sm-9">
                        <p class="fs-4">VIsual Studio|| Community Setup ||2023</p>
                        <p >Step to install: Click on download button to download file and then click on downloaded file to install further</p>
                        <a class="btn bg-mycolor2">Download<i class="fa-solid fa-download"></i></a><b>Added on</b> 22-Sep-2024
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

